body {
    background: #DCDCDC;
}

* { 
box-sizing: border-box;
font-family: serif;
}

.stack { 
/* ↓ The flex context */ 
display: flex; 
flex-direction: column; 
justify-content: flex-start;
} 
.stack > * { 
/* ↓ Any extant vertical margins are removed */ 
margin-block: 0; 
}  
.stack > * + * { 
/* ↓ Top margin is only applied to successive elements */ 
margin-block-start: var(--space, 1.5rem); 
}

main {
    max-width: 60ch;
    margin: auto;
}

h2 {
    font-size: 2rem;
    color: #333;
}

h3 {
    font-size: 1.5rem;
    color: #666;
}

div, h3, h2, p {
    /* border: 1px solid black;  Border to visualize layout */
}